**/*.pyc
**/*.d
**/*.o
**/*.lib
**/*.so
**/sis3316_root_gui
**/*.pdf
*.pdf
**/*.txt
**/*.png
**/*.cache
**/*.root
**/.DS_Store
**/*.out
**/**/*.pyc
**/**/*.d
**/**/*.o
**/**/*.png
**/**/*.root
**/**/*.so
